body {
    background-image: url(../img/background.jpg);
    background-size: 100%;
    font-family: 'Ubuntu', sans-serif;
}
.head {
    display: flex;
    padding: 18px 79px;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav {
    display: flex;
}
.nav-calendar-icon,
.nav-mail-icon,
.nav-compas-icon {
    padding-left: 27px;
}
.hover-icons {
    fill: #fff;
    transition: 0.5s;
}
.hover-icons:hover {
    fill: #3CB878;
}
.head a {
    color: #fff;
}
.logo a{
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
.login {
    color: #fff;
    padding-left: 53px;
    padding-top: 5px;
    font-size: 14px;
    position: relative;
}
.login::before {
    content: '';
    width: 1px;
    height: 19px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    left: 27px;
    top: 3px;
}
.logo a,
.login a {
    transition: 0.5s ease-in-out;
}
.logo a:hover,
.login a:hover {
    color: #3CB878;
}

/* main */

.form-wrapper {
    background-color: #fff;
    width: 444px;
    height: calc(100%-80px);
    margin: 2vh auto;
    position: relative;
}
.form-wrapper-head {
    display: flex;
    justify-content: space-between;
    padding: 31px 61px 15px;
    align-items: flex-end;
}
.form-wrapper-head-signup {
    font-size: 20px;
}
.form-wrapper-head-login {
    font-size: 14px;
    color: #3CB878;
    transition: 0.5s;
}
.form-wrapper-head-login:hover {
    text-decoration: underline;
}
.fb-btn-icon {
    width: 13px;
    fill: #fff;
}
.google-btn-icon {
    width: 26px;
    fill: #fff;
}
.btns,
.first-btn,
.second-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-btn {
    background-color: #305DB8;
    margin-right: 2px;
}
.second-btn {
    background-color: #DF4A32;
    margin-left: 2px;
}
.first-btn,
.second-btn {
    width: 160px;
    padding: 12px 0;
    border-radius: 4px;
    justify-content: space-around;
    position: relative;
    transition: 0.5s;
}
.first-btn:hover {
    background-color: #022263;
}
.second-btn:hover {
    background-color: #AB1F09;
}
.first-btn p,
.second-btn p {
    color: #fff;
}
.fb-btn::before,
.google-btn::before {
    content: "";
    width: 1px;
    height: 26px;
    top: 10px;
    left: 51px;
    position: absolute;
    background-color: #2B0D09;
    opacity: 0.1;
}
.form-wrapper-or {
    text-align: center;
    color: #848484;
    font-size: 14px;
    margin: 30px auto 12px;
}
.form-wrapper-or::before {
    content: "";
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    top: 151px;
    right: 60px;
    position: absolute;
}
.form-wrapper-or::after {
    content: "";
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    top: 151px;
    right: 232px;
    position: absolute;
}
.green-cube {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    top: 30px;
}
.form-wrapper-field {
    width: 64%;
    border: none;
    outline: none;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 15px 19px;
    font-size: 14px;
    color: #434343;
    transition: 0.5s;
}
.form-wrapper-field:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.form-wrapper-field::placeholder {
    color: #BEBEBE;
}
.form-wrapper-field:not(:last-child) {
    margin-bottom: 16px;
}
.form-wrapper-field:last-child {
    margin-bottom: 12px;
}
.terms {
    color: #3CB878;
    transition: 0.5s;
}
.terms:hover {
    color: #01813F;
    text-decoration: underline;
}
.checkbox {
    padding-right: 50px;
}

.submit-btn {
    font-size: 16px;
    padding: 16px 105px;
    border: none;
    border-radius: 4px;
    background-color: rgba(60, 184, 120, 0.8);
    color: #fff;
    margin: 20px auto 40px;
    cursor: pointer;
    transition: 0.5s;
}
.submit-btn:hover {
    background-color: #01813F;
}



.form-wrapper-signin {
    display: flex;
    flex-direction: column;
    align-items: center;
}